#banner
    .banner_content
        %h1 My NoteBook
        %p Never forget to take your notes again
        %button= link_to "Sign Up", new_user_registration_path
#testimonial
    .wrapper
        %p.quote "Now, I Could Catch any Idea"
        %p.name - Abdel Hady Mohamed
#callouts
    .callout_inner
        .wrapper
            .callout
                %i.fa.fa-rocket
                %h2 Super Fast
                %p  Now, You can take you notes by a click of your mouse or a touch of your finger.
            .callout
                %i.fa.fa-hand-pointer-o
                %h2 Accessible
                %p You can Access your notes wherever where you are. From your phone, tablet or PC.
            .callout
                %i.fa.fa-user
                %h2 User Friendly
                %p Hey, It is very easy to use.
%footer
    %p &copy; Abdel Hady Mohamed